@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'MinhaFonte';
  src: url('/fonts/MinhaFonte.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-minhaFonte {
  font-family: "MinhaFonte", sans-serif;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-geist-sans, Arial, sans-serif);
    transition: background-color 0.3s, color 0.3s;
  }

  h1, h2, h3, h4, h5, h6,
  p, a, span, li, label, button {
    color: var(--foreground);
  }
}
